
table {
    margin: 20px auto !important;
    min-width: 100%;
    min-width: 100%;
}

tbody tr {
    background-color: white;
    padding: 40px 35px;
    margin: 8px 0;
    display: flex;
    flex-direction: row;
    border: solid 1px #e8e8e8;
    border-radius: 4px;
}

td.info {    
    flex: 0 1 45%;
    align-items: center;
}

td.info h6 {
    color: var(--category-gray);
    font-weight: bold;
    font-size: 14px;
    margin: 1px 0
}

td.info h1 {
    color: var(--card);
    font-family: var(--font-roboto);
    font-weight: bold;
    font-size: 22px;
}

td.info h5 {
    color: var(--light-blue);
    font-family: var(--font-roboto);
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 3px;
}

td.progress {
    flex: 0 1 25%;
    align-items: center;
}

td.progress .ring {
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 5px;
    border-image-source: linear-gradient(to bottom, #307bbe, #379cf6);
    border-image-slice: 1;
    margin-right: 20px;
}

td.progress .percentage h2{
    color: var(--dark);
    font-weight: 300;
    font-size: 32px;
}

td.progress .percentage span{
    color: var(--category-gray);
    font-size: 14px;
}

td .separator {    
    flex: 0 1 5%;
    border: solid 1px #e8e8e8;
    height: 80%;
    margin-right: 30px;
}

td.summary-remove {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    flex: 0 1 25%;
    color: var(--dark);
    font-family: var(--font-roboto);
    font-size: 16px;
    font-weight: 300;
}

td>button {
    margin: 15px 0;
}

@media only screen and (min-width: 1200px) {
    .App table {
        min-width: 1200px;
    }

    td .separator {
        height: 70px;
    }

    .tbody tr {
        height: 170px;
    }

    td.progress {
        flex: 0 1 25%;
        display: flex;
        align-items: center;
    }

    td.progress .ring {
        width: 68px;
        height: 68px;
    }
  }

  @media only screen and (min-width: 70px) {
    .tbody tr {
        height: 170px;
        padding: 10px;
        background-color: red;
    }
  }