body {
    width: 100vw;
    height: 100vh;
    font-family: var(--font-montserrat);
}

#root {
    width: 100%;
    height: 100%;
    margin: 0;
}
.App {
    width: 100%;
    height: 100%;
    background-color: #fafafa;    
}

table {
    margin: 20px auto;
    min-width: 1200px;
}

td {
    height: 170px;
    background-color: white;
    padding: 40px 35px;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
}

td .info {    
    flex: 0 1 45%;
    align-items: center;
}

td .info h6 {
    color: var(--category-gray);
    font-weight: bold;
    font-size: 14px;
    margin: 1px 0
}

td .info h1 {
    color: var(--card);
    font-family: var(--font-roboto);
    font-weight: bold;
    font-size: 22px;
}

td .info h5 {
    color: var(--light-blue);
    font-family: var(--font-roboto);
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 3px;
}

td .progress {
    flex: 0 1 25%;
    display: flex;
    align-items: center;
}

td .progress .ring {
    width: 68px;
    height: 68px;
    border-style: solid;
    border-width: 5px;
    border-image-source: linear-gradient(to bottom, #307bbe, #379cf6);
    border-image-slice: 1;
    margin-right: 20px;
}

td .progress .percentage h2{
    color: var(--dark);
    font-weight: 300;
    font-size: 32px;
}

td .progress .percentage span{
    color: var(--category-gray);
    font-size: 14px;
}

td>span {    
    flex: 0 1 5%;
    border-left: solid 1px #e8e8e8;
    margin: 0 10px;
}

td .summary-remove {
    flex: 0 1 25%;
    color: var(--dark);
    font-family: var(--font-roboto);
    font-size: 16px;
    font-weight: 300;
}

td button {
    margin: 15px 0;
}

.bookform-section {
    border-top: 2px solid #f5f6fa;
    width: 1200px;
    margin: 20px auto;
    padding-top: 25px;
}

.bookform-section h4 {
    font-family: var(--font-montserrat);
    font-weight: bold;
    font-size: 20px;
    color: var(--form-gray);
    margin-bottom: 15px;
}

.bookform-section form {
    display:flex;
    justify-content: space-between;
}

form input {
    height:45px;
    border-radius: 4px;
}

form input::placeholder, textarea::placeholder {
    color: var( --disabled-gray);
    padding: 10px;

}


form .input {
    width: 80%
}

.input .info {
    margin-bottom: 10px
}

.info .title {
    width:50%
}

.info .author {
    width:30%
}

.info .category {
    width:15%;
    height:45px;
    padding:10px;
    border-radius:4px;
    background-color:white
}

.input .summary {
    display: flex;
    align-items: flex-start;
}

.summary textarea {
    width:50%;
    border-radius: 4px;
}

.add-book {
    width: 20%
}
